.sidebar {
  flex: 0.2;
  padding: 20px 20px 0px 20px;
  &__twitterIcon {
    color: var(--twitter-color);
    font-size: 30px !important;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  &::hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }
  &__tweet {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
  }
}
